.bv-header {
    .bv-navbar-welcome {
        font-size: 14px;
        margin-top: 10px;
    }
    .bv-right-head-menu {
        button {
            width: 25px;
            height: 25px;
            padding: 0;
            background: none !important;
            margin-left: 10px;
        }
        .bv-head-welcome {
            font-size: 14px;
            margin-top: 8px;
        }
    }
}