table {
    &.md-table {
        .md-head {
            .md-row {
                height: 40px !important;
                th {
                    &.md-column {
                        font-size: 14px;
                        background: $crimson;
                        color: $white;
                    }
                    md-icon {
                        color: $white !important;
                        
                    }
                }
            }
        }
        .md-row {
            &:nth-child(even) {
                background-color: #f5f5f5;
                .md-cell {
                    border-color: $grey-separator;
                }
            }
        }
        td {
            &.md-cell {}
        }
    }
}

md-table-container {
}

.md-table-pagination {
    font-size: 14px;
}