//Common
$img-path: "../img";

//General color
$crimson: #631826;
$white: #ffffff;
$black: #000000;
$red: #b0002d;
$yellow: #cea63a;
$blueheader: #17274f;
$orange : #ec8f17;

$grey :#ebeae6;
$grey-dark :#5f5f5f;
$grey-light: #f2f2f2;
$grey-separator: #e0e0e0;

//notifications
$error : #ea4335;
$info : #4285f4;
$success : #34a853;
$warning : #fbbc05;