<div layout="column" layout-fill ng-controller="login">
    <div class="bv-header"></div>
    <md-content flex layout-padding class="bv-content">
        <!-- Login Sample 2 start-->

        <div class="bv-login" layout="column" layout-align="center center" layout-fill>
            <div class="bv-bg-cover"></div>

            <div class="bv-login-box md-whiteframe-z1" layout="column">
                <div class="bv-login-shadow"></div>
                <!--<md-toolbar>
                    <h2 class="md-toolbar-tools"><span>Login</span></h2>
                </md-toolbar> -->
                <md-content class="md-padding" layout="column">
                    <div layout="row" layout-align="center center">
                        <img src="img/bv-logo.png" />
                    </div>
                    <div layout="row" layout-align="center center">
                        <h2>Admin Panel</h2>
                    </div>
                    <form name="loginForm">
                        <div layout="column">

                            <md-input-container>
                                <label>Username</label>
                                <input type="text" name="username" ng-model="loginitem.username" md-maxlength="100" required>
                                <div ng-messages="loginForm.username.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label> Password</label>
                                <input type="password" name="password" ng-model="loginitem.password" md-maxlength="100" required>
                                <div ng-messages="loginForm.password.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" class="md-body-1">
                            <div flex>
                                <md-switch ng-model="data.cb1" aria-label="Switch 1" class="md-warn">
                                    <strong>Remember Me</strong>
                                </md-switch>
                            </div>
                            <div class="bv-forgot-password" flex layout-align="end center">
                                <a class="bv-primary-color" href="#"><strong>Forgot Password?</strong></a>
                            </div>

                        </div>
                        <div class="bv-submit-button" layout="row" layout-align="center center">
                            <!-- <div class="bv-submit-button" layout="row" layout-align="center center" md-theme="customTheme"> -->
                            <md-button flex="50" class="md-raised md-primary" ui-sref="root.home"> Login</md-button>
                        </div>
                    </form>
                </md-content>
            </div>
        </div>

        <!-- Login Sample 2  End-->
    </md-content>
</div>