<div class="bv-news-list" data-ng-init="ctrl.init()" layout="column" layout-fill ng-controller="newsController">
    <md-toolbar class="bv-content-head md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <h2>
			<span>News List</span>
			</h2>
            <div flex></div>
            <md-button class="md-fab md-raised" ng-click="filter.show = !filter.show">
                <md-tooltip>Search news</md-tooltip>
                <md-icon md-svg-src="img/icons/search.svg" alt="SEARCH"></md-icon>
            </md-button>
            <md-button class="md-fab md-primary" ui-sref="root.news.detail">
                <md-tooltip> Add news</md-tooltip>
                <md-icon md-svg-src="img/icons/add-to-list.svg" alt="ADD"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="bv-content-body" flex>

        <div layout="column" class="bv-form-container" ng-show="filter.show">
            <md-chips ng-model="roConventionNames" name="conventionName" readonly="readonly" placeholder="Search for a convention" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Search convention">
            </md-chips>
            <md-chips ng-model="roFlagNames" name="flagName" readonly="readonly" placeholder="Search for a flag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Search flag">
            </md-chips>

            <md-chips ng-model="roShipNames" name="shipName" readonly="readonly" placeholder="Search for a ship type" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Search ship type">
            </md-chips>

            <md-datepicker ng-model="selectDate" md-placeholder="Select Date" ng-disabled="ctrl.disabled"></md-datepicker>
        </div>


        <div layout="row" layout-wrap class="checkboxes">
            <md-checkbox class="md-primary" ng-model="options.rowSelection">Row Selection</md-checkbox>
            <md-checkbox class="md-primary" ng-model="options.multiSelect">Multiple Selection</md-checkbox>
            <md-checkbox class="md-primary" ng-model="options.autoSelect">Auto Selection</md-checkbox>
            <md-checkbox class="md-primary" ng-model="options.decapitate">Decapitate</md-checkbox>
            <md-checkbox class="md-primary" ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>
            <md-checkbox class="md-primary" ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>
            <md-checkbox class="md-primary" ng-model="options.limitSelect" ng-click="toggleLimitOptions()">Pagination Limit Select</md-checkbox>
            <md-checkbox class="md-primary" ng-model="options.pageSelect">Pagination Page Select</md-checkbox>
        </div>


        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
                <span>Table Head...</span>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="loadStuff()">
                    <md-icon md-svg-src="img/icons/reload.svg"></md-icon>

                </md-button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
                <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                        <th md-column class="bv-text-align-center"><span>Action</span></th>
                        <th md-column class="bv-text-align-center"><span>Active</span></th>
                        <th md-column md-numeric md-order-by="date" md-desc><span>Date</span></th>
                        <th md-column md-order-by="title"><span>Title</span></th>
                        <th md-column md-order-by="summary"><span>Summary</span></th>
                        <th md-column md-order-by="type"><span>Type</span></th>
                        <th md-column md-order-by="comment">
                            <md-icon md-svg-src="img/icons/comment.svg"></md-icon>
                            <!--<md-icon>comments</md-icon> -->
                            <span>Comments</span>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">

                        <td md-cell>

                            <div layout="row">
                                <div>
                                    <md-button class="md-fab md-mini md-raised" ui-sref="root.news.detail">
                                        <md-tooltip>Edit News</md-tooltip>
                                        <md-icon md-svg-src="img/icons/pencil.svg" alt="EDIT"></md-icon>
                                    </md-button>
                                </div>
                                <div>
                                    <md-button class="md-fab md-mini md-raised" data-ng-click="ctrl.deleteNews($event,news)">
                                        <md-tooltip>Delete News</md-tooltip>
                                        <md-icon md-svg-src="img/icons/bin.svg" alt="Delete"></md-icon>
                                    </md-button>
                                </div>
                            </div>

                        </td>
                        <td md-cell>
                            <div>
                                <md-switch class="md-warn" ng-model="dessert.active" ng-change="" aria-label="active"></md-switch>
                            </div>
                        </td>
                        <td md-cell>{{dessert.date}}</td>
                        <td md-cell>{{dessert.title}}</td>

                        <td md-cell>{{dessert.summary}}</td>
                        <td md-cell>
                            <md-select ng-model="dessert.type" placeholder="Other">
                                <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                            </md-select>
                        </td>
                        <td md-cell ng-click="editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">
                            {{dessert.comment || 'Add a comment'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>

    <footer class="bv-content-footer">
        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
    </footer>
</div>