<md-toolbar class="bv-header md-accent">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
            <md-tooltip>Side Panel</md-tooltip>
            <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
            <!--<md-icon md-font-set="material-icons">menu</md-icon> -->
        </md-button>
        <h2 class="bv-app-logo">
          <span>VariSTAR</span>
                    
        </h2>
        <div flex></div>
        <md-menu-bar class="bv-right-head-menu" layout="row" style="width:300px">
            <div class="bv-head-welcome" style="text-align:right" flex>Welcome <strong>Rajenesh Joshi</strong></div>
            <md-menu>
                <button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu()">
                    <md-icon md-svg-src="img/icons/user.svg" class="s24" aria-label="User"></md-icon>
                </button>
                <md-menu-content>

                    <md-menu-item class="md-indent">
                        <md-icon md-svg-src="img/icons/power-off.svg" class="s24" aria-label="Poweroff"></md-icon>
                        <md-button  ui-sref="root.login">
                            Log Out
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </md-menu-bar>
        <div class="bv-logo-brand"><img src="img/navbar-bv-logo.png" /></div>
    </div>
</md-toolbar>